<!--The content below is only a placeholder and can be replaced.-->
<div class="ml" style="margin: 0">
  <div class="ml-pnl">
    <div class="ml-pnl__cntnt tx--white bg--bluegrey">
      <div style="float: left; margin-top: -2px">
      <h2>HR-Services Dashboard</h2>
      </div>
    </div>
  </div>
  <div class="ml-pnl">
    <div class="ml-pnl__cntnt tx--white bg--bluegrey">
      Rancher status
      <div>
        <rancher *ngFor="let rancherObject of rancherList" [object]="rancherObject" (status)="getStatus($event)"></rancher>
      </div>
    </div>
  </div>

  <div class="ml-pnl">
    <div class="ml-pnl__cntnt tx--white bg--bluegrey">
      Extra Info:
      <div class="ml-pnl ml-clstr__sgmnt">
        <div class="ml-pnl__cntnt bg--bluewhite tx--white">
          {{status === '' ? '&nbsp;' : status}}
        </div>
      </div>
    </div>
  </div>

  <div class="ml-pnl">
    <div class="ml-pnl__cntnt tx--white bg--bluegrey">
      GitLab pipelines
      <div>
        <gitlab *ngFor="let gitlabObject of gitlabList" [object]="gitlabObject" (status)="getStatus($event)"></gitlab>
      </div>
    </div>
  </div>

</div>

