/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';

body {
  background-color: rgb(23, 35, 51);
}
body {
  font-family: 'Nirmala UI';
}
.ml {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  position: relative;
  font-size: 15px;
}

.ml * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ml-pnl {
  margin: 0;
  padding: 4px;
}

.ml-pnl {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.ml-pnl__cntnt {
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  width: 100%;
}

.ml-clstr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.ml-clstr--vrt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ml-clstr--hrz {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ml-clstr__sgmnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.ml-clstr__sgmnt--rw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ml-clstr__sgmnt--clmn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ml-clstr__sgmnt--hlf {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.ml-clstr__sgmnt--qrt {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
/**
  * Color styles
*/
.tx--white {
  color: #fff;
}
.bg--bluegrey {
  background-color: rgba(45, 57, 80, 0.73);
}
.bg--bluewhite {
  background-color: rgba(106, 109, 158, 0.45);
}

.element {
  position: relative;
}


.element:before {
  content: "\f000";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.buttonlayout{
  border-radius: 5px;
  height: 30px;
  border: none;
  margin: 3px;
}

