<div *ngIf="data" class="ml-clstr__sgmnt ml-clstr__sgmnt--clmn">
  <div class="ml-pnl ml-clstr__sgmnt">
    <div class="ml-pnl__cntnt bg--bluewhite tx--white">
      <div style="margin-bottom: 3px;">
        <div style="float: right"></div>
        <b>{{object.service}}: </b>
        <div style="float: right">
          <i (click)="doCall()" *ngIf="!isCalling" [ngClass]="'fa fa-refresh'"></i>
          <i *ngIf="isCalling" [ngClass]="'fa fa-refresh fa-spin'"></i>
        </div>
      </div>
      <span style="display: flex; flex-wrap: wrap;">
      <button *ngFor="let item of data" class="buttonlayout" style="flex: 1;" on-mouseleave="setSelect(null)" on-mouseover="setSelect(item)" [style.background-color]="getColor(item)"><i [ngClass]="'fa ' +getIcon(item)"></i></button>
      </span>
    </div>
  </div>
</div>
