<div class="ml-pnl ml-clstr ml-clstr--vrt">
  <div class="ml-clstr__sgmnt ml-clstr__sgmnt--clmn">
    <div class="ml-pnl ml-clstr__sgmnt">
      <div class="ml-pnl__cntnt bg--bluewhite tx--white">
        <div style="float: left">
          <b>{{object.service}}</b>
          <br>{{object.extrainfo||object.extrainfo2}}
        </div>
        <div style="text-align: right; float: right; margin-top: 3px;">
          <div style="float: right; margin-top: 7px; margin-left: 8px;; margin-right: 5px;">
            <i (click)="doCall()" *ngIf="!isCalling" [ngClass]="'fa fa-refresh'"></i>
            <i *ngIf="isCalling" [ngClass]="'fa fa-refresh fa-spin'"></i>
          </div>
        Active: <button class="buttonlayout" style="width: 35px" on-mouseleave="setSelect(null)" on-mouseover="setSelect(json)" [style.background-color]="getColor(json)"><i [ngClass]="'fa ' +getIcon(json)"></i></button>
        Health: <button class="buttonlayout" style="width: 35px" on-mouseleave="setSelect(null)" on-mouseover="setSelect(json)" [style.background-color]="getColor(json)"><i [ngClass]="'fa ' +getIcon(json)"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
